@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<p role="status">Input: @input</p>
<p role="status">Translated: @translated</p>
<p role="status">Intent: @intent</p>


<RadzenStack Gap="1rem" class="rz-m-12">
	<RadzenButton Text="Voice" Click="@Voice" />
	<RadzenProgressBar class="@recordingClass" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
</RadzenStack>
